build==1.2.2.post1
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
docutils==0.21.2
id==1.5.0
idna==3.10
importlib==1.0.4
iniconfig==2.1.0
inquirerpy==0.3.4
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
keyring==25.6.0
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.6.0
nh3==0.2.21
numpy==2.2.6
packaging==24.2
pfzy==0.3.4
pluggy==1.5.0
prompt_toolkit==3.0.50
Pygments==2.19.1
pyproject_hooks==1.2.0
pytest==8.3.5
pywin32-ctypes==0.2.3
readme_renderer==44.0
requests==2.32.3
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==14.0.0
setuptools==78.1.1
shellingham==1.5.4
twine==6.1.0
typer==0.15.4
typing_extensions==4.12.2
urllib3==2.5.0
wcwidth==0.2.13
wheel==0.45.1